output_file/step_function_workflow.json
{
  "StartAt": "t1",
  "States": {
    "t1": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:559198857332:function:getusermood",
      "ResultPath": "$",
      "Next": "t2"
    },
    "t2": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:559198857332:function:recommendsong",
      "ResultPath": "$",
      "Next": "t3"
    },
    "t3": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:559198857332:function:playmusic",
      "ResultPath": "$",
      "End": true
    }
  }
}